[2017-12-06 15:32] IvoDerksen opened #1 "Icons for you!"
Hey Robert,

I was talking to a colleague about these devices, I've decided to make an icon pack for the app.
So here you go!

[Sonoff icons.zip](https://github.com/robertklep/name.klep.sonoff/files/1535715/Sonoff.icons.zip)

[2017-12-06 17:16] robertklep commented on #1
Absolutely brilliant!

If I may be so bold: there's an icon missing for the [Sonoff Basic](http://sonoff.itead.cc/en/products/sonoff/sonoff-basic), which is similar to the Sonoff RF, but without the "RF" part.

I'm also planning support for the [RF Bridge](http://sonoff.itead.cc/en/products/appliances/sonoff-rf-bridge-433), but I'll have to order one first.

[2017-12-07 00:09] IvoDerksen commented on #1
Well here you go!

[basic-rf.zip](https://github.com/robertklep/name.klep.sonoff/files/1537307/basic-rf.zip)

[2017-12-07 00:09] IvoDerksen commented on #1
Good luck on finishing the integration, and the long wait! I'm waiting for my $5 sonoff basic too :)

[2017-12-07 00:10] #1 closed

[2017-12-28 15:52] MrZANE42 opened #2 "Recommend trying --data-ascii first"
Hi
I've provisioned quite a few Sonoff devices now and all of the worked when using --data-ascii in the curl command line, and the ones I accidentally tried with --data-binary failed.
So a suggestion would be to changed the example to use --data-ascii and offer --data-binary as an alternative instead of the other way around.

Keep up the good work, the devices works perfectly with Homey and I'm gl

[2017-12-28 16:22] robertklep commented on #2
Thanks, I will change it :)

I'm working on a setup page that can be run from inside the Homey application, instead of having to use curl from a command line shell.

Just out of curiosity: what types of devices have you (successfully) provisioned?

[2017-12-28 18:34] MrZANE42 commented on #2
Hi again.
We've been in contact before on the athom apps page for your App.
You find me there as Jimmy Pedersen and I've posted the ones I've tried there (Including one today).
If you want me to post model info somewhere else just tell me.

[2017-12-29 13:26] robertklep commented on #2
@MrZANE42 thanks, the forum post is sufficient :) I'll close this issue, when the next update gets pushed the changes will be in it.

[2017-12-29 13:26] #2 closed

[2018-01-21 18:58] robertklep opened #3 ""default state" setting"
When a device registers itself with Homey after powering up, Homey could make sure the device is switch on (because the device default is to be switched off after power up).

[2018-01-28 18:13] JPe2 commented on #3
could this be a choice if the status should be kept as it is after power-up or that is should be turned OFF always? Some devices should not always be turned OFF after power-down (fridges, pumps)

[2018-01-28 19:01] robertklep commented on #3
Not sure if I understand what you mean.

By default, the Sonoff devices will be turned off after they powered up (at least the devices that I have).

I'm proposing a device setting that would allow turning the device on automatically after it has powered up and has connected with Homey.

Or do you mean that Homey should remember the state for each device ("off" or "on") and restore that state when

[2018-01-29 00:30] JPe2 commented on #3
Hi, thanks for responding and sorry for not being clear, I have 3 plug-in modules (S20 Firmware 1.6.0) and 1 simple relay-module (Model:Sonoff Firmware 1.6.0), they are not connected to Homey (yet) but in the original state, connected to my smartphone. When they are in the ON state and the power to these modules is switched OFF, and after a while switched ON again, then all the modules are still i

[2018-01-29 08:33] robertklep commented on #3
I think that we're talking about the same thing 😁

However, firmware 1.6.0 is going to be an issue: you won't be able to use my app with devices running the original 1.6.0 firmware (in that firmware ITEAD, the manufacturer of the Sonoff devices, has disabled the ability to pair with a different "cloud server", like Homey).

There's not workaround yet, and it's unclear if there will ever be a worka

[2018-02-01 15:55] BPC83 opened #4 "Support fore Touch and 4ch switch"
Hi..
any plans fore supporting touch switch, and 4ch relay module from sonoff??

i have both, if you need some information ?

[2018-02-01 16:01] robertklep commented on #4
I don't have either device so I can't test them.

I can imagine that the switch may send the same messages as, for instance, the Basic or the S20, so you may just try and see if you can pair the device with Homey and see if anything happens when you use the switch.

[2018-02-01 16:13] BPC83 commented on #4
Den 1. feb. 2018 kl. 17.01 skrev Robert Klep <notifications@github.com<mailto:notifications@github.com>>:

I don't have either device so I can't test them.

I can imagine that the switch may send the same messages as, for instance, the Basic or the S20, so you may just try and see if you can pair the device with Homey and see if anything happens when you use the switch.

—
You are receiving this b

[2018-02-01 16:24] robertklep commented on #4
The latest (beta) version of the app includes a pairing page that you can use instead of the terminal (although if it doesn't respond, it may also mean that your computer needs an explicit route to the device, something that is explained here: https://blog.ipsumdomus.com/sonoff-switch-complete-hack-without-firmware-upgrade-1b2d6632c01#e0d7)

[2018-02-03 03:29] Maxwell70 commented on #4
@robertklep Hi! I have the Basic and can't connect it. Maybe the firmware fresh .... How can I know the firmware version?

[2018-02-03 08:11] Maxwell70 commented on #4
@robertklep I found the firmware version number - 1.6.0 :(((((

[2018-02-03 08:37] robertklep commented on #4
@Maxwell70 that's too bad ☹️

[2018-02-03 08:45] Maxwell70 commented on #4
@robertklep It is possible to do something? Or throw it away?

[2018-02-03 08:54] robertklep commented on #4
@Maxwell70 you can always use the device with the original eWeLink application, of course.

And like I posted above, I'm working on support for alternative firmwares for the Sonoff devices (however, this means that you have to open up the device, solder some connectors on it, and use a USB-to-serial dongle to flash a new firmware into the device).

[2018-02-03 08:57] Maxwell70 commented on #4
@robertklep It is possible to do downgrade firmware?

[2018-02-03 09:01] robertklep commented on #4
@Maxwell70 AFAIK, not in an official way, no.

[2018-02-09 01:21] Maxwell70 commented on #4
@robertklep Hi! I have made a connection Sonoff Bridge (Tasmota) to Homey. Everything worked fine.
But today, after upgrading to r.11 Homey stopped to see the switch.

[2018-02-09 08:19] robertklep commented on #4
@Maxwell70 are you using the Homey MQTT Broker app? If so, can you check to see if that's still working?

I don't install experimental updates on my Homey (mostly because there isn't a non-destructive method to go back to stable) so can't really help.

[2018-02-09 08:55] robertklep commented on #4
Oh, if you know how to sideload Homey apps, try and see if you get any errors.

[2018-02-09 09:03] Maxwell70 commented on #4
@robertklep In the logs of the MQTT Broker information from the Sonoff comes! But Sonoff is not active in your plugin. I removed switch and created it again.

[2018-02-09 09:04] robertklep commented on #4
If you hover over the device icon, you should get a message explaining why the device is offline. What is that message?

[2018-02-09 09:16] Maxwell70 commented on #4
@robertklep Unfortunately not have learned to memorise this message, so as deleted and reinstalled already.

[2018-02-09 09:36] robertklep commented on #4
@Maxwell70 no worries! Perhaps for a next time (which, of course, won't happen 😉)

[2018-02-09 11:18] Maxwell70 commented on #4
@robertklep
If you restart Homey then:
"Connection with MQTT Broker failed"

[2018-02-09 12:16] robertklep commented on #4
@Maxwell70 thanks!

I realize now that I never tested for a situation where the broker isn't (yet) running when the app is started. Looks like I need to add some sort of retry procedure.

I'll create a new issue for this.

[2018-02-09 12:18] robertklep opened #5 "MQTT retry"
As mentioned in #4: when the MQTT broker isn't yet available during app init, the Tasmota driver fails to start properly.

Should add a retry procedure.

[2018-02-09 12:23] Maxwell70 commented on #5
@robertklep I agree! I'll wait for the updates! Thank You!

[2018-03-01 14:52] robertklep commented on #5
Implemented.

[2018-03-01 14:52] #5 closed

[2018-03-02 17:27] Asinke opened #6 "Feature request to support TH16/Pow Tasmota model"
Hi Robert, Ould it be possible to support Sonoff TH16 and Pow modules with Tassmota firmware in addition to already excellent support?

Documentation the the MQTT/JSON responses can be found here: https://github.com/arendst/Sonoff-Tasmota/wiki/JSON-Status-Responses#am2301. (The TH16 model uses the AM2301 temp/humidity sensor)

Of course i'm willing to beta test the additional code, I did some loca

[2018-03-02 17:31] robertklep commented on #6
Thanks for posting this data :)

Does the sensor data get posted periodically, or do you have to query the device for it?

[2018-03-02 17:33] Asinke commented on #6
The sensor roughly posts an update every 5 minutes or so using the tele topic.
See below for a continuation of the console log

18:24:54 MQT: homeassistant/switch/TH16/config =  (retained)
18:24:55 MQT: stat/TH16/RESULT = {"POWER":"OFF"}
18:24:55 MQT: stat/TH16/POWER = OFF
18:25:03 MQT: tele/TH16/STATE = {"Time":"2018-03-02T18:25:02","Uptime":"0T00:00:19","Vcc":3.151,"POWER":"OFF","Wifi":{"AP":1,"

[2018-03-02 17:42] chinswain commented on #6
I have both of these devices sitting unused so can test if needed (Have DS18B20 sensor for the TH16)

[2018-03-02 19:34] robertklep commented on #6
In terms of support for these devices, I was thinking about:

* The ability to show the temp/humidity values on the device's mobile card
* Same for power usage (I'll have to check which capabilities Homey supports)
* The ability to use those values as tags/tokens in flows

Anything else?

[2018-03-02 19:45] Asinke commented on #6
I would already be thrilled with this support.

If its not too much trouble, I would also like to see support for the SHT3X and PMS5003 sensors to be also included.
Note: The PMS supports 3 different PM sizes, homey only supports just one (PM2.5 if I remember correctly)

On 2 Mar 2018, at 20:34, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

In terms of support for

[2018-03-03 15:43] HeHaHu opened #7 "Sonoff T1 EU suited for roller shutter?"
I don’t know how I ended up on this website. And I really don’t know how to behave here and what to expect. Can I ask something? What do I need to do? I can put done my story?

In the past I bought myself a Sonoff Motor Clockwise/Anticlockwise Running WiFi Wireless Switch Model: IM160601001 control, in a case (see picture), a roller shutter. I was perfectly happy with this product and was willing

[2018-03-05 12:10] robertklep commented on #6
@Asinke can you send an MQTT command to your TH16 device and see what it sends in response?

The topic to send to is `cmnd/TH16/gpio`, payload can be an empty string. It should respond on `stat/TH16/RESULT`.

[2018-03-05 18:06] Asinke commented on #6
Hi Robert,

This the response I get:

19:04:18 MQT: stat/TH16/RESULT = {"GPIO1":"0 (None)","GPIO3":"0 (None)","GPIO4":"0 (None)","GPIO14":"2 (AM2301)”}

On 5 Mar 2018, at 13:10, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

cmnd/TH16/gpio

[2018-03-05 18:20] robertklep commented on #6
Thanks :) If you can do the same for any other sensors you have? The more info I have, the easier it will be to implement.

[2018-03-06 15:21] robertklep commented on #6
I'm especially interested in the SHT3X sensor, because that's one that isn't mentioned in the list for the `gpios` command (`cmnd/sonoff-rf-bridge/gpios`).

[2018-03-06 18:29] Asinke commented on #6
Hi Robert,

I don’t have a sensor configured with the SHT3X or PMS5002 sensors at the moment.

I see what you mean about the SHT3X sensor, you can’t select it from the module’s GPIO menu.
The DHT11, DHT12 and SHT3X sensors however are all pin compatible with different tolerances for accuracy.

Before the weekend, I don’t have the time available to assemble, configure and test a Tasmota/Sonoff modu

[2018-03-06 18:38] robertklep commented on #6
No worries :)

I'm mostly interested in the result of `cmnd/TH16/gpio` with an SHT3X attached, because that's the endpoint I'm using to detect which sensors are attached to a device during pairing and where I add the correct Homey capabilities to the device (`measure_temperature`, `measure_humidity`, etc).

A bit of background: the capabilities a device can support on Homey can't be changed after

[2018-03-06 19:22] Asinke commented on #6
If time permits, i will heat up my soldering iron in the weekend and connect a SHT3X sensor which i can use afterwards for testing your updated app as well!
Looking at the Tasmota documentation i think its safe for now to assume the sensor name will indeed be SHT3X

On 6 Mar 2018, at 19:38, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

No worries :)

I'm mostly in

[2018-03-18 14:01] robertklep commented on #6
I ordered a POW and a TH10, I'd rather test the devices myself before I release a new version of the app that doesn't work properly.

Out of interest: are you running v3.0.0 (the current beta) of the app? I'm interested in hearing if it works, because it was a pretty big release in terms of changed (I rewrote the part that deals with the MQTT server).

[2018-03-18 20:00] Asinke commented on #6
Hi Robert,

Did you order them from China, in that case it may take a while depending on the chosen vendor!

I’m running the latest stable release. will look into V3.0 beta soon.

BTW. I’m willing to beta test your updated App before you release it.

Arthur

On 18 Mar 2018, at 15:01, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

I ordered a POW and a TH10, I'd rat

[2018-03-18 20:42] robertklep commented on #6
I did, and I know :) Typically it takes a week or two.

I'll see if I can wrap up the sensor code so you can test, although it would require some experience with Github and side-loading Homey apps (but I'll explain).

[2018-03-18 21:09] chinswain commented on #6
As a real work usage case, I'm wanting to monitor a water pump that comes on for 30 seconds 4 times a day. If it's on for more than 60 seconds I want to turn off the relay - do you think that would be possible via Homey?

[2018-03-19 08:01] robertklep commented on #6
How is the pump controlled? It would obviously require a solution where the controlling mechanism notifies Homey when the pump is turned on and off, but if that's possible, one option would be to start a countdown timer (using the [Countdown app](https://apps.athom.com/app/nl.bevlogenheid.countdown)) for 60 seconds, and add two triggers: for when the pump is turned off (in which case the countdown

[2018-03-19 12:01] robertklep commented on #7
Sorry for the late reply.

The	[Sonoff 4CH Pro](https://www.itead.cc/smart-home/sonoff-4ch-pro.html) device has an "interlock" operating mode, which suggests that it _might_ be possible to do what you want. However, I don't have such a device, so I can't be certain it will work exactly how you want it to work.

I don't see any other devices in the current Sonoff range that you can use out-of-the-b

[2018-03-19 12:01] #7 closed

[2018-03-19 12:46] HeHaHu commented on #7
Hello,

Thank you for your reply.

Yes, the  <https://www.itead.cc/smart-home/sonoff-4ch-pro.html> Sonoff 4CH Pro would suit my demands. It has an interlock mode and that is what I need. The only thing is that it is a hideous device. I would need one for every roller shutter and that wouldn’t look nice in my house. And the fact that I would need 1 for every shutter makes it quite expensive as well

[2018-03-19 13:17] robertklep commented on #7
Ik zie dat je Nederlands bent :)

Voor zover ik kan zien heb je voor één motor 2 kanalen nodig: één voor omhoog en één voor naar beneden. Dus met een 4CH device kan je maximaal 2 motoren bedienen.

De 2-kanaals apparaten (de Dual en de T1, o.a.) hebben geen interlocking dus die vallen _met de standaard firmware_ af.

Misschien is het toch mogelijk met de Sonoff-Tasmota firmware (zie [deze thread](

[2018-03-19 13:39] HeHaHu commented on #7
Dat meen je niet hahaha. Ik woon inderdaad in ’s-Hertogenbosch. Jouw achternaam is Klep, klopt dat? Er komt bij mij een naam naar boven, maar weet niet waarom; Edwin Klep. Zegt jou dat iets? En ook Koopvaardijstraat komt er in me op.

Dat klopt, 1 voor omhoog en 1 voor naar beneden. De motor van het rolluik heeft zelf een automatische, instelbare, stop. Daarom was die, ondanks dat heel veel mensen

[2018-03-19 14:37] robertklep opened #8 "Support for multi-relay devices (Dual, 4CH)"
Challenge: how to deal with a single device that has multiple `onoff` channels?

[2018-03-31 11:06] SadhuRus opened #9 "Not work with Tasmota MQTT"
In Homey, when I try add sonof device with this params:

MQTT broker hostname/IP: 192.168.1.233 (Enter ip-adrees with Tasmota/Sonoff Relay)
MQTT broker port: 1883

I have error: "MQTT connection unsuccessful."
What is problem?

In Sonoff Basic Module Configuration MQTT was ON.

[2018-03-31 11:34] robertklep commented on #9
Is 192.168.1.233 the address of the MQTT broker, or of the Sonoff device? It should be the broker address (the Sonoff devices don't have a built-in MQTT broker, only a client).

[2018-03-31 13:54] SadhuRus commented on #9
Yes.. Its address only Sonof device.
While it is unclear how to make a broker and how the technology works mqtt. I'll try to understand

[2018-03-31 14:31] robertklep commented on #9
My apologies is things aren't really very clearly documented, it does assume an amount of "pre-knowledge" on what all the terms mean and how to get it working.

The MQTT broker is like a go-between between the Sonoff device(s) and the Homey app. The device sends messages to the broker, and the Homey app listens for new messages.

The easiest method to get it up and running is to run the MQTT broke

[2018-03-31 15:51] SadhuRus commented on #9
Installed and configured as you said. Everything worked! Cool! Thank you so much

[2018-03-31 15:51] #9 closed

[2018-04-01 11:46] BPC83 opened #10 "Support for touch devices with tasmota firmware..?"
Hi, will sonoff touch devices with tasmota firmware be supported in the future.?

[2018-04-01 11:58] robertklep commented on #10
You can probably already use the app with Touch devices (if you have to pick a device type, choose "Sonoff Basic").

However, for now, only one button/relay is supported, so a Touch device with multiple buttons won't be (fully) supported yet (I'm working on support for devices with multiple relays as we speak).

[2018-04-03 12:50] robertklep commented on #8
Added Dual support in v4.0.0 (7f9d6491f99a996a320e3b754045e1219f9be501).

[2018-04-03 12:52] robertklep commented on #6
The TH10 and TH16 devices are supported as of v4.0.0, which I just submitted for approval as a beta release. May take a few days for Athom to publish it.

For now, only sensors that support temperature and/or humidity are supported.

[2018-04-03 18:53] Asinke commented on #6
Hi Robert,

Great, looking forward to testing this new version.

Arthur

On 3 Apr 2018, at 14:52, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

The TH10 and TH16 devices are supported as of v4.0.0, which I just submitted for approval as a beta release. May take a few days for Athom to publish it.

For now, only sensors that support temperature and/or humidity are

[2018-04-05 10:03] robertklep commented on #6
Version 4.0.1 (beta) was just published to the Homey app store.

[2018-04-06 19:30] BPC83 commented on #4
That will be great, I have a couple of the laying around, just need to fast them with tasmota and I´am ready....

[2018-04-06 19:48] robertklep commented on #4
@BPC83 great! I'll try and see if I can get support in this weekend and publish a new beta to test.

Do you happen to know how to load apps from Github onto Homey directly?

[2018-04-06 19:54] BPC83 commented on #4
@robertklep Great, then I will flash I 4ch tomorrow....
I do no know how to load apps manually, have never tried it...

[2018-04-06 19:56] robertklep commented on #4
@BPC83 you need to install Node.js and various packages, it's probably easier to just push out a new beta for you to try :)

[2018-04-06 20:00] BPC83 commented on #4
@robertklep if I have a detailed guide, I can do it, buy yes, I think it will be best to publish a new beta, If I brick something in the homey, and there is no light in the home, I can start to chop my now tombstone ;) my wife will kill me...

[2018-04-06 20:01] robertklep commented on #4
@BPC83 haha no problem ;)

[2018-04-08 18:00] robertklep commented on #4
@BPC83 I just submitted v4.0.3 (beta) for approval, once approved by Athom I will publish it. It should support the 4CH devices (fingers crossed!).

[2018-04-08 19:25] BPC83 commented on #4
@robertklep Gerat... but jam still struggling, fashing til 4ch with tasmota, every time I have a error, with the exact same settings I have successfully flashed 4x Sonoff basic that works perfect with tasmota, Iám trying to figure out why this error stops the flashing...

[2018-04-08 19:37] robertklep commented on #4
@BPC83 there's some info here: https://github.com/arendst/Sonoff-Tasmota/wiki/Sonoff-4CH-and-4CH-Pro

There seem to be some issues with both the 4CH and the 4CH Pro devices (where the 4CH Pro looks like a bit of a PITA to flash :()

[2018-04-08 19:52] BPC83 commented on #4
@robertklep Right now I have a whole lot of words, thats really nok appropriate for this site... I visited the link you gave me... read, that I Chinese guy have marked the print wrong, rx and tx swapped, tried it, it loads the new firmeware right away....... I have use 4 hours yesterday, reading guides, watch youtube nothing worked...... and the only failure was really no communication with the bo

[2018-04-08 19:53] robertklep commented on #4
That's my default solution for Sonoff devices: when the flashing software can't connect, swap TX and RX 🙄

[2018-04-08 19:55] BPC83 commented on #4
@robertklep I know now... we will always learn new things every day...

[2018-04-11 10:57] BPC83 commented on #4
@robertklep Great... and I have just added it, and made a quick test, and I seems like it is working, all 4 relays can be activated form the device in homey....

[2018-04-11 10:59] robertklep commented on #4
@BPC83 cool, thanks for testing so quickly!

[2018-04-11 11:00] robertklep commented on #8
Added 4CH support in v4.0.3

[2018-04-11 11:00] #8 closed

[2018-04-20 16:42] robertklep commented on #10
@BPC83 if you set the module type for the 2-button device to "Dual" (in the Tasmota configuration), you should be able to add it as a Dual device to Homey.

If that works, I can easily add new drivers for each different Touch device.

[2018-04-20 18:04] robertklep commented on #10
Each driver has a fixed list of modules it will support, so it will only allow devices configured as one of those modules be paired (the "Sonoff T1 2CH" module isn't supported by any driver yet).

It's weird though that the "Dual" module doesn't work. Could you try setting it to the "Sonoff Dual R2" module and try again?

[2018-04-20 18:16] BPC83 commented on #10
@robertklep  in tasmota (web) it is working, but not possible to add to homey, with the one dual device there is listed in homey.

[2018-04-20 18:25] robertklep commented on #10
I assume it doesn't show up when you try to pair it? Are you power-cycling device while Homey is waiting for it to show up?

[2018-04-20 18:27] BPC83 commented on #10
no it does not show in homey, it is just waiting fore it.. after 10 min, I canceled it..
yes, I am rebooting the sonoff device from the tasmota web interface..

[2018-04-20 18:30] robertklep commented on #10
Strange. After the device has rebooted, it sends its status info to the MQTT broker, which is what the Sonoff app is waiting for. I don't quite understand why it's not being picked up (especially weird since it does work when you configure it as a 4CH device).

[2018-04-20 18:35] BPC83 commented on #10
I tried it one more time, and now it is actually working, with tasmota as Dual R2 and added to homey as dual.. and both switched in homey works...

[2018-04-20 18:49] robertklep commented on #10
Okay cool (and strange ;)).

That means that I can just copy the Dual driver for the 2CH Touch device (and the Basic driver for the 1CH, and create a new driver for the 3CH). Should be simple enough :)

[2018-04-20 18:56] BPC83 commented on #10
yes... that sound simple... my testings is with the UK version... I have also a EU version but I thing that will be the same.. but will test it later... the 3ch is only available in US and UK versions, the EU versions have to be smaller to fit in to an euro wall box, but I think the software factions will be the same for all versions... but... iam looking to buy an 3ch US version, as I need 3 butt

[2018-04-20 19:00] BPC83 commented on #10
Bad news........ when tasmota is set to dual R2 the buttons on the device does not work... changed it back to 4ch and buttons working again....

[2018-04-20 19:07] robertklep commented on #10
Perhaps the Dual is "special" for Tasmota. I will release a beta version with support for all three T1 devices, hopefully those work as expected.

[2018-04-21 14:56] robertklep commented on #4
Closing: 4CH is supported now, Touch support is being tracked in #10.

[2018-04-21 14:56] #4 closed

[2018-04-21 14:57] robertklep commented on #10
Just submitted v4.0.4 (beta) to the Homey app store, with support for T1 and POW devices (#6)

[2018-04-22 15:48] robertklep commented on #10
v4.0.4 was just published.

[2018-04-22 17:12] BPC83 commented on #10
done a quick test, the 1ch works fint...

2ch. adding to homey, looks fine, it is found, added to the list, and when I click on the sliders icon, there is a message, "waiting for connection" and after some time, (20-30 sek after adding) the main icon in homey changes to the no connection icon...
i have not time fore more testing today, but will return testing tomorrow

[2018-04-22 17:38] robertklep commented on #10
Thanks for testing, sounds like the app might be crashing. I just realized that I could try and use my Dual as if it's a T1 2CH, so will run some tests as well.

[2018-04-22 17:44] robertklep commented on #10
No, running the Dual as if it was a T1 2CH works just fine. That doesn't necessarily mean it's supposed to with with a _real_ T1 2CH, but at least there isn't an obvious bug in the code.

[2018-05-10 07:46] LyoshaDovolen opened #11 "Support for Sonoff 4ch Pro & Sonoff 4CH Pro R2"
Support for Sonoff 4ch Pro & Sonoff 4CH Pro R2
https://www.itead.cc/smart-home/sonoff-4ch-pro.html

[2018-05-10 08:05] robertklep commented on #11
The current beta version of the app should support the 4CH and 4CH Pro devices, provided that they are running the Tasmota firmware (and have the correct module type set).

The devices will likely never be supported when they run the original firmware (because recent versions of that firmware make it impossible to pair with Homey).

[2018-05-10 09:47] LyoshaDovolen commented on #11
i need click [this](https://sun9-7.userapi.com/c840435/v840435896/816a4/SqHFvo83TNc.jpg) for install 4ch pro?

[2018-05-10 09:52] robertklep commented on #11
Yes, that should be it. But make sure that the Tasmota module type is set correctly, which you can do from the Tasmota configuration page of your device (showing the page of a Sonoff TH because I don't have a 4CH available, but the page is the same):

<img width="413" alt="screen shot 2018-05-10 at 11 50 02" src="https://user-images.githubusercontent.com/1190916/39863962-81d6fea4-5448-11e8-81fa-e6

[2018-05-10 09:54] robertklep commented on #11
Oh, a quick way to the settings page, provided you're running the latest beta version of my app, is through (Homey) Settings > Sonoff:

<img width="686" alt="screen shot 2018-05-10 at 11 53 27" src="https://user-images.githubusercontent.com/1190916/39864075-d8f9a25e-5448-11e8-9672-d1536984fdda.png">

Clicking on the IP-address will open the Tasmota configuration page for the device.

[2018-05-10 10:29] LyoshaDovolen commented on #11
Thank you Robert . I'll try this later

[2018-06-11 07:17] robertklep commented on #11
@LyoshaDovolen to be clear: you _do_ receive the push notification?

[2018-06-12 11:13] LyoshaDovolen commented on #11
yes. (notification for flow check)

[2018-06-12 11:17] robertklep commented on #11
Do you know how to use an MQTT client? I'd like to see what the Homey app is sending to the MQTT broker when the flow is being run.

[2018-06-12 12:30] LyoshaDovolen commented on #11
when the flow is being run - nothing happens in [log](https://pp.userapi.com/c847123/v847123539/75ea6/O7tgvi45ElI.jpg)

[2018-06-12 12:32] robertklep commented on #11
That's certainly not how it's supposed to work. I'll check and see what's going on.

[2018-06-12 12:53] robertklep commented on #11
Yeah, it's a bug. Will fix ASAP.

[2018-06-12 13:05] robertklep commented on #11
I just submitted v4.0.8 to the Homey app store for review, which should fix this problem.

[2018-06-14 12:59] robertklep commented on #11
v4.0.8 was just published, please check and see if it works better :D

[2018-06-14 13:12] LyoshaDovolen commented on #11
Everything works fine now. Thank you Robert

[2018-06-14 13:17] robertklep commented on #11
Thanks for testing!

[2018-06-14 13:17] #11 closed

[2018-06-15 19:55] StraDijk opened #12 "Sonoff TH16 No new devices"
I'am not able to add the TH16 to Homey.

When i change module type to POW the device shows in Homey.

INFO1:
{"Module":"Sonoff TH","Version":"5.14.0","FallbackTopic":"DVES_372B33","GroupTopic":"sonoffs"}

[2018-06-15 21:33] robertklep commented on #12
Weird, I have an TH10, which uses the same module, and that gets picked without problems:
[code]

Do make sure that if you have paired the device previously (as a POW, for instance), you first need to remove the old device before you pair it again as a new type. The app uses the MAC address for the module as unique identifier, and that value doesn't change if you change the Tasmota module type (so

[2018-06-16 05:31] StraDijk commented on #12
Paired device was removed, before adding it again.

After several homey reboots, i was able to add the device again.

[2018-06-16 05:31] #12 closed

[2018-06-19 19:55] LyoshaDovolen opened #13 "ungroup devices and names for 4ch pro"
support adding ungroup devices and names for 4ch pro.  [image](https://pp.userapi.com/c845420/v845420009/81cb4/VtZlLCLP0_E.jpg)

[2018-06-19 19:58] LyoshaDovolen commented on #13
If it's not too difficult

[2018-06-20 06:07] robertklep commented on #13
I'm not sure if it's possible to change the name of the switches, because those are hardcoded in `app.json`. Even if it _was_ possible, you'd not be able to change them afterwards.

As for grouping: for now, that should be done through Tasmota. I don't know if it's possible through the web interface on the device, but I'm pretty sure it's possible by sending it a specific MQTT message ([`SetOption

[2018-06-28 20:05] senadaruc opened #14 "Sonoff Touch ICONS?"
Hi Robert,

I flashed my Sonoff EU Touch devices with Tasmota firmware and while I was trying to connect them to my Homey I choose "Generic (Tasmota)" because the "T1 1CH (Tasmota)"option was not working for me. They are connected and working perfect but the icon on the Homey is not showing the Sonoff Touch but just s Sonoff logo.

Any idea how to fix this?

Thanks,

[2018-06-28 20:48] robertklep commented on #14
The generic driver only has a limited set of modules/icons, which you have to set during the pairing process (you can't change them afterwards). I don't think the T1 is an type that you can choose, and it's really preferable to pick the correct (more specific) driver for your device.

For that, you have to make sure that in the Tasmota configuration (using the built-in webserver of Tasmota), you s

[2018-06-28 20:57] senadaruc commented on #14
Hi Robert, Thanks for the prompt response and this is the model of my Sonoff Touch:
https://www.itead.cc/smart-home/sonoff-touch.html  so this model is not T1 1CH! and during the setup, there is no selection for this model, so I am forced to choose Generic. At my Tasota config the device is selected as "10 Sonoff Touch"
<img width="436" alt="screen shot 2018-06-28 at 22 55 58" src="https://user-im

[2018-06-28 21:58] robertklep commented on #14
I'm actually not quite sure that the difference between the Touch and the T1 1CH is. They look very similar to me.

Try setting the module type to T1 1CH (module number 28) and pick the T1 1CH driver.

[2018-06-29 07:19] robertklep commented on #14
Thanks for the feedback! I will add a separate driver for the Touch nonetheless, but at least for now, you have a working device 😄

[2018-08-25 10:01] robertklep opened #15 "Check MQTT connection restore after network failure"
https://community.athom.com/t/itead-sonoff/119/10

[2018-08-25 12:10] torstengram opened #16 "device.getIpAddress is not a function error on settings page"
Hello,
i am getting this error when trying to enter the settings page of the app
device.getIpAddress is not a function
it does not show me the 3 Tasmota devices i have, they seems to function OK

[2018-08-25 12:12] torstengram opened #17 "Little help on MQTT"
Hi,
i have 3 devices two S20 and a 4ch device. From their webinterface they run OK toggling the channels, from within homey the tw S0 and ch1 on the 4ch are syncronised.
What exactly do i need to change in order to switch them seperate? is it the topic?

[2018-08-25 13:00] robertklep commented on #16
Strange, that function should be defined for all Tasmota devices.

Could you try and restart the app to see if that solves the problem?

[2018-08-25 13:02] robertklep commented on #17
Yes exactly, each device should be given a unique topic :)

[2018-08-27 13:18] torstengram commented on #16
Hi, restarting the app and the broker app (running on Homey) does not help. However right after restart i do not see the error message, but i do not see the devices either.
Anything i can extract in order to troubleshoot better? a log or something?

[2018-08-27 13:19] torstengram commented on #17
perfect, now the devices are working independently. Thanks a lot !

[2018-08-27 13:19] #17 closed

[2018-08-27 14:52] robertklep commented on #16
There's a log, but it's not accessible unless you run the app from the command line.

Right after a restart it's expected that the devices aren't showing up, because it may take some time before the devices are detected.

What types of devices do you have?

[2018-08-27 15:11] torstengram commented on #16
I have 2 PCs of S26 added as generic Tasmota device. And one POW

Regards

[2018-08-27 16:09] robertklep commented on #16
Ah right, I think it might be because of those generic devices.

Try removing those and re-adding them as S20 devices (make sure you set the correct module type in the Tasmota configuration).

Be aware that removing devices will invalidate any flows that are built with them, though.

[2018-08-28 12:35] robertklep commented on #10
Closing as T1 1/2/3CH devices are now supported.

[2018-08-28 12:35] #10 closed

[2018-08-28 12:39] robertklep commented on #6
@Asinke have you had a chance to test with different sensors attaached?

[2018-09-11 11:03] Maxwell70 opened #18 "Generic"
Hi! I want to add a device (Tasmota Generic) to the Homey. But it is added without control. What am I doing wrong?

[2018-09-11 11:05] robertklep commented on #18
What do you mean "without control"? Can you post a screenshot, and preferably some more information on the type of device.

[2018-09-11 11:17] Maxwell70 commented on #18
Here I choose "others":
<img width="530" alt="2018-09-11 18 11 31" src="https://user-images.githubusercontent.com/33258356/45356739-610ebd80-b5ee-11e8-825d-5c7b873653c7.png">
As a result, I get this device:
<img width="137" alt="2018-09-11 18 11 52" src="https://user-images.githubusercontent.com/33258356/45356775-80a5e600-b5ee-11e8-9ad7-e35bbe1b7870.png">
But how to use it? If the device has no co

[2018-09-11 12:06] robertklep commented on #18
How did you configure the module in the Tasmota configuration? I think you should be able to get it working when you configure it as a "Sonoff Basic" (both in the Tasmota configuration as well as the Sonoff app).

[2018-11-03 13:41] Asinke commented on #6
@Robert Oeps I missed out on your last message during my holidays. Now winter is coming I started my first project again. This time a sonoff basic with Tasmota and 6 DS18B20 temperature sensors. I noticed these are not yet supported by the app. Would it be possible to add this sensor to the driver? I can supply whatever information you need. Below you'll find an extract from the MQTT broker log:

[2018-11-03 13:50] robertklep commented on #6
@Asinke thanks for the data, useful to see how data for multiple sensors is being transmitted.

I'm working on a "generic" device driver for devices like this, where the driver will try and sniff out the capabilities of a device on its own, instead of assuming a fixed set of capabilities like the other drivers do.

Will hopefully push a beta with that driver within the next two weeks or so.

[2018-11-06 10:18] thucar commented on #16
I'm having the same issue. I did add my S20, Bridge and Basic as generic devices because the S20 (newer version) and basic were not being picked up when I tried adding them as their actual devices.

The basic was not being detected at all when doing a soft restart during inclusion and when adding the S20, immediately after restart a message popped up saying "No new devices detected"

[2018-11-06 13:13] thucar commented on #16
Tasmota firmware was configured correctly. I'm running the latest version: 6.3.0 with stock settings. Only configured WiFi, module type and MQTT  settings after uploading the firmware.

The S20 is definitely S20 but it looks like a newer version (S20_EU_V1.3) Not sure if it makes a difference.

When I tried adding it as a regular S20, I got the following error:
![image](https://user-images.githubu

[2018-11-06 14:29] robertklep commented on #16
It looks like there's been a change in the Tasmota firmware regarding module identifiers. It'll take a few days before I can start fixing it; in the mean time, you could try and flash an earlier version of Tasmota.

[2018-11-06 14:40] thucar commented on #16
It's ok. I was hoping I could define/edit sensor information on the settings page but looks like that's not the case. Am I correct to assume that currently only the Sonoffs stock capabilities get carried over when importing them to Homey? Meaning that if I have a Sonoff Basic with 12 DS12B20 sensors hooked up to it, I will not be able to access the temperature values from Homey?

I even looked int

[2018-11-06 14:55] robertklep commented on #16
Yes, that's the case right now. I will hopefully release a new version of the Homey app within the next two weeks or so that will be able to determine which sensors a device has, and map those sensors to (Homey) capabilities.

[2018-11-08 21:02] Tabe1 commented on #6
Hello
I have been trying this app from app store. I dont get the temp/humidity sensor to work with my th16. It was easy go add and i am running The original firmware. Any ideas?

[2018-11-08 21:13] robertklep commented on #6
@tabe1 the driver for the original firmware doesn't support any sensors, it only supports the on/off capability of the device. For sensor support, the Tasmota firmware is required.

[2018-11-09 14:03] robertklep commented on #6
@asinke could you do me a favor and send an MQTT command to that Basic with 6 sensors?

Topic: `cmnd/XXX/status` (where "XXX" is the configured Tasmota name of the device)
Value: 10

It should respond with a message that contains the sensor configuration.

[2018-11-09 14:32] robertklep commented on #6
Thanks, very useful!

[2018-11-11 13:56] robertklep commented on #6
@asinke and another request, this time for 'cmnd/XXX/gpio' (with an empty value)

[2018-11-11 16:41] Asinke commented on #6
17:40:44 CMD: cmnd/sonoff2/gpio
17:40:44 MQT: stat/sonoff2/RESULT = {"GPIO1":"0 (None)","GPIO3":"0 (None)","GPIO4":"0 (None)","GPIO14":"4 (DS18x20)"}

On 11 Nov 2018, at 14:56, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

cmnd/XXX/gpio

[2018-11-11 19:39] robertklep commented on #6
So you have 6 DS18B20's connected to GPIO14? Didn't even know that was possible 😅

[2018-11-11 19:48] robertklep commented on #6
Oh now I understand where the `Id` properties are for ;) I guess that the sensors send their Id as part of the updates, that's how Tasmota can tell them apart. So even if the sensors have the same I2C address, it will still work.

[2018-11-12 13:14] robertklep commented on #6
Little update: this might be more difficult than I anticipated.

The problem is that I want to be able to create a "generic" Tasmota driver that will automatically determine which capabilities a Sonoff device has.

I have a version of such a driver that works, provided that there is no overlap in capabilities between sensors, meaning that if a device has two temperature sensors attached to it, the

[2018-11-12 15:38] Asinke commented on #6
Thanks for the update. I do understand the complexity and the extra effort required. Hopefully you’ll find this project challenging enough to continue development on.

On 12 Nov 2018, at 14:15, Robert Klep <notifications@github.com<mailto:notifications@github.com>> wrote:

Little update: this might be more difficult than I anticipated.

The problem is that I want to be able to create a "generic" T

[2018-11-25 10:00] laurenssss opened #19 "Feature request - device type"
When I add for instance a green wave socket to homey I get a selection if the device is a normal outlet, light or ventilator etc

Can this be added to the pairing wizard for sonoff as well?

[2018-11-25 13:59] robertklep commented on #19
Good idea, although I'll wait for Homey v2.0 before I implement this, since 2.0 might have other (new) device classes.

[2018-11-25 14:01] laurenssss commented on #19
Can imagine, thanks for the app by the way, wizard works perfect with just delivered basic devices

[2018-12-08 13:41] rhannink opened #20 "Sonoff app unable to discover new Sonoff S20 (Tasmota)"
Hello,

I have a Sonoff S20 with Tasmota 6.2.1 and 6.3.0 firmware. When I reboot them, I see all information in my MQTT server:

INFO1
INFO2
INFO3
STATUS
etc.

But When I try to add a device in Homey and reboot the Sonoff, it does not find any new device.

any idea ??

Gr. Remco

[2018-12-08 13:42] robertklep commented on #20
Can you post the specific contents of those MQTT messages?

[2018-12-08 13:45] rhannink commented on #20
`14:36:19 MQT: Connected
14:36:19 MQT: tele/sonoff-kerstkrans/LWT = Online (retained)
14:36:19 MQT: cmnd/sonoff-kerstkrans/POWER =
14:36:19 MQT: tele/sonoff-kerstkrans/INFO1 = {"Module":"Sonoff S2X","Version":"6.3.0","FallbackTopic":"DVES_1BD066","GroupTopic":"sonoffs"}
14:36:19 MQT: tele/sonoff-kerstkrans/INFO2 = {"WebServerMode":"Admin","Hostname":"sonoff-kerstkrans-4198","IPAddress":"192.168.1.

[2018-12-08 13:48] robertklep commented on #20
Try configuring it as a "Sonoff Basic" for the time being. The problem is that the identifier for the S20 changed from "S20" to "S2X", and the current version of the app doesn't yet know that identifier.

It's already fixed in my local version, but it's taking more time than anticipated to publish that as a new app version (because besides this problem, there's a lot of under the hood functionalit

[2018-12-08 13:49] rhannink commented on #20
I have added the device before to Homey, but I deleted it, changed the name and the MQTT Topic.

[2018-12-08 13:51] rhannink commented on #20
Still no luck Robert, I tried to add a generic Sonoff (Tasmota) but seem problem.

[2018-12-08 13:54] robertklep commented on #20
The generic Sonoff (Tasmota) driver might also not work.

Configure the module as "Basic" (in the Tasmota configuration):
![image](https://user-images.githubusercontent.com/1190916/49686738-1cb19180-faf9-11e8-9f9b-c73c788edb9a.png)

And add it as a "Basic (Tasmota)" device to Homey:
![image](https://user-images.githubusercontent.com/1190916/49686728-fdb2ff80-faf8-11e8-9d25-294f72b12166.png)

[2018-12-08 13:56] rhannink commented on #20
Robert,

I tried the Basic Sonoff (Tasmota), that did not work.
I chose the Generic (Tasmota) and that worked. I could even select the correct model (S20).
Everything is fine now, thanks for the support.

[2018-12-08 14:01] robertklep commented on #20
Strange! But good to know it worked ;)

[2018-12-08 14:01] #20 closed

[2018-12-08 15:08] rhannink commented on #20
Robert, I just saw now you asked me to change to generic Sonoff in the Tasmota software. I changed in Homey to Generic (Tasmota) and that also worked, including stetting the correct Sonoff type and icon .......cheers.

[2018-12-29 10:25] bochove opened #21 "Sonoff lan mode"
the functionality to use a different server was broken, yet a lan mode was later created. Is it possible to make use of this [lan mode](https://help.ewelink.cc/hc/en-us/articles/360007134171-LAN-Mode-Tutorial) with Homey?

[2018-12-29 10:40] robertklep commented on #21
I asked around for this a while back ([here](https://github.com/mirko/SonOTA/issues/58#issuecomment-415995024)), but it doesn't look like anyone has tried to reserve-engineer it yet. Also can't find anything about it on other home automation platforms (like HA).

I'll try and see somewhere in the upcoming days if I can reflash one of my devices back to the official firmware to see if I can easily

[2019-02-19 07:29] bochove commented on #21
Is this solution of help to you?
https://github.com/beveradb/sonoff-lan-mode-homeassistant

[2019-02-19 07:32] robertklep commented on #21
That's useful, but possibly too difficult to explain how to get your devices into (permanent) LAN-mode.

I'll consider adding support when I do a rewrite of the app (which may be soon, or never, can't say right now).

[2019-02-19 07:38] bochove commented on #21
For many that may be the case, to me it would be rather simple

[2019-02-19 07:56] bochove commented on #21
On [this](https://help.ewelink.cc/hc/en-us/articles/360007134171-LAN-Mode-Tutorial) page it says:
When WiFi network restores, LAN mode won’t be disabled and you should be able to control the device.

I'd want these devices to be blocked from internet for privacy, but perhaps it's not required.
It would off-course be required to set static IP addresses in the router for these devices.
And not all r

[2019-03-07 09:47] senadaruc opened #22 "Sonoff Basic RF and GPIO14 garage door opener and sensor request?"
Dear Klep,

I have Sonoff Basic RF with Tasmota 6.4.1  configured with "PulseTime - Inching" function to open/close my garage door and with GPIO14 connected into the magnetic switch to detect the garage door open/close status.

Can you please help me with Athom integration, and how we can integrate this?

Ps: I have the same HW setups with GPIO14 for Sonoff SV and Sonoff 1Chnl Smart Switch ready t

[2019-03-07 09:53] robertklep commented on #22
Sensors aren't supported yet by the Sonoff app on Homey.

As an alternative, it might be possible to use the [MQTT Client](https://apps.athom.com/app/nl.scanno.mqtt) app to act on MQTT messages sent by the device, but it would require some MQTT skills.

[2019-03-07 09:54] senadaruc commented on #22
Hmm thanks for the prompt response, my hope was that we can have 1 device for Open/Close and Sensor same time.

Thanks,

[2019-03-07 09:57] robertklep commented on #22
I agree, at some point I want to do a rewrite of the Sonoff app where it would autodetect all sensors/switches/relays connected to a device, and "fold" them into one Homey device, but I haven't yet gotten around to that.

[2019-03-07 09:58] senadaruc commented on #22
I have all kind of Sonoff devices so if you need info, help, and testing let me know :) I am around.

[2019-03-18 18:11] Pheerink opened #23 "Dimmer slider is not working"
I have a PS 16 DZ dimmer flashed with Tasmato. Everything works fine with the Tasmato software. I can dim and toggle no problems! https://github.com/arendst/Sonoff-Tasmota/wiki/PS-16-DZ-Dimmer. Then I tried to get this in Homey and have installed the dimmer with the Sonoff generic Tasmato option.  It is  installed and  I'm able to switch  the dimmer On and Off via Homey. Homey is also providing me

[2019-03-18 18:19] robertklep commented on #23
I don't have any dimmer devices myself, so support for dimming is not implemented (even though the dimming capability is added).

[2019-03-18 18:35] Pheerink commented on #23
That's a pity. For what dimmer did you implement the dimming if you say it has the dimming capability?

[2019-03-18 18:42] robertklep commented on #23
No specific device. The app can see that a device supports dimming, and adds this capability to the Homey device that it creates, but it doesn't implement the actual dimming. To be honest, it probably shouldn't be adding the `dim` capability to the Homey device until it has actually implemented support for it.

[2019-03-18 18:55] Pheerink commented on #23
I agree with your last statement, however Is dimming on your list to implement or are you only focussing on the Sonoff line. Thanks for all your help it is highly appreciated.

[2019-03-18 19:15] robertklep commented on #23
Ideally, I want a totally generic Tasmota driver that's able to find out which capabilities a Tasmota device has, and map all of those capabilities to a Homey devices.

However, my Homey got bricked a few weeks ago and I moved all of my home automation to Home Assistant, so I'm not actively working on Homey apps at the moment (my Homey got replaced by Athom, but I'm quite happy with Home Assistant

[2019-03-18 19:39] Pheerink commented on #23
I have "played" a couple of years with Domoticz but the problem is that you need a lot of add-ons to get everything working. Homey is providing you these add-ons in one device. If you limit your home devices to wifi it's fine but I have RF 433 - zigbee Z-wave, infrared etc.

[2019-03-19 07:31] robertklep commented on #23
I have 433Mhz (some, phasing it out), Zigbee and Z-Wave. All works great on HA 👍🏻

To get your dimmer working fast, you might be able to use the MQTT Client app on Homey combined with a virtual device (flow trigger for "dimmer" messages on the correct topic to set the virtual device's `dim` capability, and flow trigger on the `dim` capability to send a "dimmer" message to your device).

[2019-03-24 09:18] Abduljalilabbasi opened #24 "rf bridge code cannot be entered in homey 2.0"
RF bridge is running and sniffing is ok, i can see rf codes

in the flow code is shown blank, and i cannot enter it manually.

regards

[2019-03-24 12:57] robertklep commented on #24
You have to add a condition ("AND") card to match the code:

![image](https://user-images.githubusercontent.com/1190916/54879715-82bdec80-4e3c-11e9-8a75-ff02ad3868a8.png)

(from left to right: "RF code received", "[Code] is exactly ...", "Make a notification")

[2019-03-24 12:57] #24 closed

[2019-04-12 23:04] bochove commented on #21
Would [this](https://github.com/bochove/HomeySonoffLan) be of help? It works for me, perhaps others might find it useful as well.

[2019-04-19 13:00] LastKnight62 opened #25 "Pow2 Tasmota - no Energy monitoring"
The Energy Monitoring on Sonoff pow R2 with Tasmota doesn‘t work. Vorlage, Current and Power is ok

[2019-04-19 13:02] LastKnight62 commented on #22
I also have a lot of Sonoff devices....

[2019-04-25 19:35] AloisKlingler commented on #22
senadaruc,

did you try anything else with the magnetic door sensor? I was wondering if you would like to share the config and the flashed firmware, or can you tell me which GPIO is triggered on the ESP with the magnetic switch?
I have bought the same sensor and would like to save some search work which you did already before. ;)

thanks!
BR
Alois

[2019-05-01 15:01] senadaruc commented on #22
Guys, I am on PTO until 7.May I will share when I am back at home.

[2019-05-15 17:57] Atomicprogress opened #26 "Sonoff basic original FW"
Hi, sonoff basic R3 are now compatible with your app?

[2019-05-16 06:36] robertklep commented on #26
Only through the Sonoff Tasmota firmware, not through the new REST API.

[2019-05-16 06:36] #26 closed

[2019-05-16 06:44] Atomicprogress opened #27 "Sonoff Basic R3 original firmware"
Hi, sonoff basic R3 are now compatible with your app in LAN mode?
is it possible to make these new sonoff R3 work with an update of your plugin? or is there no hope?
thanks

[2019-05-16 07:44] robertklep commented on #27
No, the app doesn't support LAN mode, and I have mostly stopped developing for Homey so it's not likely that I will implement support for it, I'm afraid.

[2019-05-16 07:44] #27 closed

[2019-07-04 19:14] baukeplugge opened #28 "Feature request MQTT settings and scanning"
would it be possible so create a config page for the sonoff app where you can set the MQTT server details and maybe also the scan delay for scanning new devices.

each time im searching for a new sonoff i now have to enter al the server details. and when it fails to find the device because the scan time was over I have to start all over again.
thx!

[2019-07-04 20:13] robertklep commented on #28
Thanks for your suggestions :) However, my Homey development efforts have come to a halt because I don't use my Homey anymore. At some point I might start using it again, but until then, there's not a big incentive for me to continue working on my Homey apps. Sorry :(

[2019-07-04 20:39] baukeplugge commented on #28
no problem. do you mind if I try to continue on this ?

[2019-07-04 20:40] baukeplugge commented on #28
and btw did you find something better? i just bought the Homey. Should I return it :-)

[2019-07-04 21:21] robertklep commented on #28
I don't mind at all 👍🏻

I moved to Home Assistant after my Homey got bricked during a firmware update, and even though Homey got fixed, I never went back. For most people, Homey is much easier to use, so if it works for you, keep on using it. I'm a bit disappointed with how the v2 firmware is developing (fixes and new features that just don't seem to materialize, stability issues, and lack of open

[2019-07-16 21:22] chinswain opened #29 "Missing Icon for Sonoff Basic (original)"
I've just re-added a Sonoff basic (original), looks like there's no icon anymore?

![Screenshot_20190716-221033_Homey](https://user-images.githubusercontent.com/4403897/61330655-03ec2580-a818-11e9-9c4d-26a2c360761f.jpg)

[2019-07-17 05:22] robertklep commented on #29
The Sonoff app hasn't changed for a while now, so I have no idea why it's not being shown.

[2019-07-18 10:16] chinswain commented on #29
Is there anything I can look at log wise to diagnose it? I didn't think it would be a problem but Homeydash.com is not working if I add this device.

[2019-07-18 17:58] chinswain commented on #29
I've just added a tasmota basic device, same issue - could it be the last Homey update? (2.4.1)

[2019-07-21 21:01] chinswain commented on #29
No errors, it just stops loading any devices after the iconless sonoff device (be it tasmota or generic).

[2019-07-22 06:52] robertklep commented on #29
It sounds like a Homeydash problem, to be honest :(

[2019-07-22 17:09] skynett81 opened #30 "SonoffPowR2"
missing Sonoff Pow R2 , cant add it at all .

[2019-07-22 17:09] robertklep commented on #30
Did you try adding it as a regular POW?

[2019-07-22 19:51] skynett81 commented on #30
yes i did

[2019-07-23 05:35] robertklep commented on #30
And...?

[2019-07-23 19:37] skynett81 commented on #30
i did find the error and it now works :) .
i did have a miss-configuration .

[2019-07-23 19:37] #30 closed

[2019-08-08 10:45] ashleywolf87 opened #31 "Sonoff T3 support?"
Good day! I noticed the T1 is supported by Homey however, may I confirm if the T3 would work with Homey as well? Both T1 and T3 are from the same TX series.

Thanks for your time.
![cap](https://user-images.githubusercontent.com/53901020/62697096-84173c80-ba0c-11e9-8b88-eed932608adc.JPG)

[2019-08-08 10:50] robertklep commented on #31
I can't say for sure, but they might work if you configure them as T1 devices in the Sonoff-Tasmota configuration.

[2019-08-08 10:52] ashleywolf87 commented on #31
Thank you for the prompt reply.

Is it possible to configure the T3s as T1s though? I havent bought the switches yet but the black switches just looks too beautiful hahah

[2019-08-08 10:54] robertklep commented on #31
With Sonoff-Tasmota, you can configure a device any way you like. It will present itself as a T1 device to the Homey driver, which would make it supportable as if it were a T1 device.

However, I cannot say with 100% certainty that it will work because I don't have any T3 (or T1, for that matter) devices myself :(

[2019-08-08 10:56] robertklep commented on #31
Here's a bit more info: https://github.com/arendst/Sonoff-Tasmota/wiki/Sonoff-TX-Series

It looks like the devices (apart from the T0) all use the same board, so configuring a T3 as a T1 should work.

[2019-08-08 10:58] ashleywolf87 commented on #31
Holy cow is there a guide which would guide me to set it up as a T1 device? I'm sorry but I'm new to this. @_@

[2019-08-08 11:01] robertklep commented on #31
In that case, I have to warn you: you cannot use Sonoff devices with Homey out of the box. You need to install ("flash") an alternative firmware on them (called Sonoff-Tasmota) before they will work with Homey.

The flashing process isn't trivial (you need to open up the device, potentially solder some wires to the circuit board, and use an USB-to-serial dongle to "talk" to the device).

[2019-08-08 12:32] ashleywolf87 commented on #31
Oh my goodness. Well that has caught me off guard and boy am I glad I found out about this before jumping into the water.

Is there a video guide/tutorial which would guide me step by step on how to do the things you've mentioned? This is new to me but my background is in EEE Engineering so I'm hoping it still falls within my capabilities Hahaha

[2019-08-08 12:39] robertklep commented on #31
The [Sonoff-Tasmota wiki](https://github.com/arendst/Sonoff-Tasmota/wiki) is probably the best place to start :)

[2019-08-08 12:51] ashleywolf87 commented on #31
Thanks Robert!

Ewelink was made to control the sonoff switches in its default state. Once I have flashed these switches and done as you mentioned, would I be controlling the Sonoff switches with Homey via the Sonoff/Ewelink app or...?

[2019-08-08 12:52] robertklep commented on #31
No, only from Homey. The alternative firmware doesn't work with the eWeLink software at all.

[2019-08-08 13:01] robertklep commented on #31
Correct. For the T1, you'll get the following flow cards:

Triggers:
* Switch X is turned on
* Switch X is turned off

Actions:
* Turn on switch X
* Turn off switch X
* Toggle switch X

[2019-08-09 07:14] ashleywolf87 commented on #31
understood. Thanks! I went through the steps required to flash the switches, doesnt seem as daunting as I imagined it as LOL.

https://www.youtube.com/watch?v=t3Cqm6RbIPk&t=1s

That video is a great guide for anybody who intends to do this as well in the future.

Robert, is there a specific version of Tasmota I have to flash the Sonoff T3 switch into for it to work with Homey or does flashing it t

[2019-08-09 07:28] robertklep commented on #31
I assume that the latest version of Tasmota will work (if not, it will be easy to flash to an older version).

And it's not so much jailbreaking, but "opening up" the device so you can use it without the need for an external cloud service, using open protocols like MQTT.

[2019-08-14 09:33] hannuf1 opened #32 "Sonoff basic stops working randomly"
Hi,

I got one sonoff basic with tasamota firmware. Sometimes it just stops working when I try to turn on the device in homey pro and gives error message "Something went wrong, please try again. (client has alredy ended). After restarting the sonoff app it will work again for sometime.

[2019-08-14 09:37] robertklep commented on #32
Perhaps the app is losing its connection to the MQTT broker. Are you using the MQTT Broker app for Homey? If so, can you check if that apps is being restarted for some reason (I can't remember if the Homey mobile app will show if apps that crashed get restarted)?

[2019-08-14 09:47] hannuf1 commented on #32
Thanks for the quick answer! I'm using mosquitto running in raspberry pi. I also just remembered that I have a scheduled router restart at 05 on wednesday so maybe that is causing the problem? Can't remember if this always happens this same day..

[2019-08-14 09:57] robertklep commented on #32
It would be worthwhile to check :) I think there's a good chance that these two incidents are related.

[2019-08-23 18:13] hannuf1 commented on #32
It was the router reboot. Now it has worked over a week without problems. Maybe you could still implement somekind of mqtt server reconnect feature loop?

[2019-08-23 18:13] #32 closed

[2019-08-23 18:52] robertklep commented on #32
In my case, the MQTT connection _is_ reconnected when it gets lost, but that's typically because the broker has gone offline, not that my router is rebooted. So I'm not sure what makes the latter case so special that the reconnect doesn't work (perhaps that after an X amount of time, it stops retrying).

[2019-09-23 18:34] pwr2s commented on #25
Hi. Any news, when Energy Monitoring will be available?
Pow2- an Energy Monitoring Device :)

[2019-09-23 18:36] robertklep commented on #25
Not likely to be implemented soon, as I don't use my Homey anymore.

[2019-10-06 20:31] shaarkys opened #33 "Sonof SV with Tasmota and PulseTimer"
Hi,
Sonof SV (https://www.itead.cc/wiki/Sonoff_SV) is not among offered devices, so I have added it as "Generic" / Tasmota device, device type as Basic. However I'm using Sonof SV as garage opener, so I had to set PulseTimer. This is where the problem arise - as the Sonof switch is on only for aprox. 2 sec, Homey is not reflecting status correctly and not immidiately.
When I however setup MQTT Das

[2019-10-07 09:21] robertklep commented on #33
I'm afraid I'm not planning to do any development on this app for the foreseeable future. Perhaps you can create a workaround using the MQTT Client app and a virtual device.

[2019-10-22 07:41] dennisbrouwer91 opened #34 "App not reconnecting after MQTT Server restart"
Hi,

I experienced this multiple times now, when i reboot (upgrade) my MQTT server, i also have to restart the Sonoff Homey app, because it will fail with "Client already ended" on every request.

Might be handy to build-in a reconnect option!

Dennis

[2019-11-10 04:58] ashleywolf87 commented on #31
Good day again Robert! Soon I'll start flashing the Sonoff TX Series, T3 switches but something came to mind with how it works with Homey.

Is it possible to control a smart light in a 2-way swithcing without any physical connections to both T3 switches?

Something as shown in this video at timestamp "2:00"
https://www.youtube.com/watch?v=iyZwcZS7Qu4&feature=youtu.be

[2019-11-10 06:43] robertklep commented on #31
I don't see a reason why that wouldn't work, although with Homey it mostly comes down to creating a few flows to recreate this. Something like this:

* Flow for first switch:
  * when button on Sonoff switch A is pressed
  * execute flow "Toggle Smart Light"
* Flow for second switch:
  * when button on Sonoff switch B is pressed
  * execute flow "Toggle Smart Light"
* "Toggle Smart Light" flow:

[2019-11-10 06:59] ashleywolf87 commented on #31
I like the method with 3 flows better. It seems neater especially once you have flows like this throughout the home.

The sonoff TX switches has a backlight which brightens the switch button when turned on and dims when turned off.

Say I used the first method...
1) Switch A is pressed
2) Switch A's backlight brightens to indicate the switch is on
3) The smart light turns on
4) Would Switch B's ba

[2019-11-14 15:02] rgzvld opened #35 "Add support of Sonoff T4 EU 1C or at least support it as T1 in app"
Please add support of  Sonoff T4 EU 1C or at least support it as T1 in app. I'm able to connect T4 with homey as sonoff "basic", but not T1. While I'm trying to connect t4 as t1 in app, after t4 device restart (as per instruction), I get the following error message: no new devices found. But on case if I configure t4 as "basic" it works as well. Please fix or advice, thanks.
![73ECF7AC-E7DD-4F48-9

[2019-11-14 15:04] robertklep commented on #35
You need to configure the device as either a Basic or a T1 in the Tasmota configuration first.

[2019-11-14 15:49] rgzvld commented on #35
oh... I've changed it to T1 1CH, it's successfully found but now please see the screenshot
![2FC589C1-D268-4031-9B1B-73C68A0BF66C](https://user-images.githubusercontent.com/13552621/68872617-ff247900-0706-11ea-96dd-a35ddeedeeaf.jpeg)

[2019-11-14 15:58] robertklep commented on #35
That's not an error that the Sonoff app generates. Perhaps you could open https://developer.athom.com/tools/devices, find the device, and see if there's anything being shown that looks like an error message?

[2019-11-14 16:06] rgzvld commented on #35
It's a little bit strange, I've just rebooted the homey, and now it works as expected. Thank you and sorry for disturbing

[2019-11-14 16:06] #35 closed

[2019-11-14 18:07] robertklep commented on #35
No problem, good to hear you solved it 😁

[2019-11-16 11:54] Baldhor commented on #23
I played around and did this : https://github.com/Baldhor/tasmota
I control my 5 shutter with it (Teepao device), and it should be compatible with any shutter device running tasmota firmware.

Hope you don't mind @robertklep :)

[2019-11-16 11:56] robertklep commented on #23
I don't mind at all! (although my name is "Klep" and not "Kelp" 😜)

[2019-11-16 18:30] Baldhor commented on #13
I'm also using 4CH devices, and I woould love to split them :)

As far as I understand the way it works, the only way to "split" a device is to use virtual device.
Actually, what we need is the opposite of the "<group>" application (https://homey.app/en-us/app/com.swttt.devicegroups/%3C-group-%3E/).

Anyone up for the challenge ? :)

[2019-12-10 20:23] ashleywolf87 commented on #31
Hi robert! So I've started trying to flash sonoff switch with the tasmota.bin.

I've successfully flashed the Sonoff TX T3 with tasmota.bin
I've assigned the ssid and password to the device

I'm stuck at the part where I need to configure the MQTT Host ( ). How do I get that IP address from homey? Do I even obtain it from Homey's MQTT app?

I tried another method to register a static IP address vi

[2019-12-11 05:44] robertklep commented on #31
First of all: the IP-address of the MQTT host is the IP-address of your Homey, provided that you're running the MQTT Broker app on Homey. For that to keep working properly, Homey needs to be given a fixed IP-address in your network router.

As for your lights going on and off automatically, I have no idea how that would happen apart, perhaps, because of some setting in your Tasmota configuration (

[2019-12-11 16:28] ashleywolf87 commented on #31
Oh heck, thanks for that. Still so new to the whole Homey/MQTT/tasmota flashing thing...

I've managed to set homey with a static IP address and I've realized something about the switch gangs going on and off. It only happens when it's plugged into the serial-to-USB. When I put the switch back together and hook it up to a power supply, it doesn't ghost switch. (NO, timer isnt configured).

[2019-12-11 20:00] robertklep commented on #31
Easiest way is to restart it from the Tasmota web page.

[2019-12-11 20:03] ashleywolf87 commented on #31
That image above is a screenshot when I tried to add a Sonoff switch via the Sonoff app on the Homey App. Is there a special procedure to add Tasmotized Sonoff switches as Homey’s devices?

[2019-12-11 20:07] robertklep commented on #31
If the Homey app is looking for the device during pairing, and it doesn't find it after you restarted the device, the issue might be with the Tasmota version that you're running (v7). I haven't tested the Homey app with that firmware.

[2019-12-11 20:11] ashleywolf87 commented on #31
I see. Is there a way I can download an older firmware version which is known to work?

[2019-12-11 20:17] robertklep commented on #31
The last v6 release is [v6.7.1](https://github.com/arendst/Tasmota/releases/tag/v6.7.1), you can upload a firmware through the Tasmota web server.

[2019-12-11 20:21] ashleywolf87 commented on #31
No chance for a ".bin" file?😎

Guess I'll have to learn something new again if there isn't a bin file 🤪

[2019-12-11 20:22] robertklep commented on #31
.bin files are at the bottom of the page I linked to.

[2019-12-11 20:23] ashleywolf87 commented on #31
Oh lord, sorry sorry! Alright I'll try this older tasmota version first. Finger crossed! Thanks for all the advice and help Robert :)

[2019-12-29 14:29] HasseM opened #36 "No new device found when adding new device"
I try to ad a Sonoff S20 with latest Tasmoto firmware. It's my 2nd Tasmota device that I add (1st is a basic module). When adding a S20 device in the Homey App, when requested, I press reboot in the webinterface of tasmota. As soon as the device comes online, I get the message "No new devices found". I am also using the MQTT broker App on Homey. The broker runs fine and with an MQTT Explorer, I ca

[2019-12-29 14:31] robertklep commented on #36
Is the device configured as an S20 in the Tasmota configuration? Also, "the lastest firmware" might be an issue, some users are having issues getting Tasmota v7 to work with this app.

[2019-12-29 14:36] HasseM commented on #36
Yes, I selected S20 but it is actually called S2x in the tasmota firmware. Maybe that it why it doesnt see it?

[2019-12-29 14:37] robertklep commented on #36
Yes, that might be the reason. Try configuring (and adding) it as a Sonoff Basic.

[2019-12-29 14:39] HasseM commented on #36
If I configure the device as a basic and add a basic then it is working fine (able to add the device)!

[2019-12-29 14:43] robertklep commented on #36
In that case, it's indeed the identifier string that isn't being recognized by the app. It's something that changed in recent firmwares (perhaps v6).

[2019-12-29 15:10] HasseM commented on #36
Good, thats probably an easy fix for you. For now I can live with configuring an S20 as a basic, no problem.

[2020-01-04 15:17] sic79 commented on #34
I have exact the same issue when restarting my MQTT-broker docker. Would be great if the app could reconnect again when it is back up again.

[2020-01-16 18:57] tolleburker opened #37 "Cant dim"
Hi how can i custom changed the dim topic, because it is posting in the Dimmer topic
ive been using an flashed LSC light to tasmota.
and when i look into the mqtt explorer i can changed it when i pubblised in the Dimmer topic.
but the app is using the dim topic

[2020-01-16 19:06] robertklep commented on #37
As far as I remember, dimming isn't supported by the Sonoff app at all.

[2020-01-16 19:16] tolleburker commented on #37
but its possible 😁

[2020-01-16 19:18] robertklep commented on #37
Not without adding the feature to the app, though. And I stopped developing the app :(

[2020-01-16 19:20] tolleburker commented on #37
but is it possible that i can change an topic ?

[2020-01-16 19:22] robertklep commented on #37
No, it's not possible. I don't really understand how the app is publishing dim messages to MQTT when I don't see how that's actually supported 🤔

[2020-01-16 20:05] tolleburker commented on #37
its publissing in a homey topic
<img width="530" alt="image" src="https://user-images.githubusercontent.com/59849333/72558868-dbff7c80-38a3-11ea-9290-8ded49eac0aa.png">

[2020-01-16 20:07] robertklep commented on #37
Ah, that's not done by the Sonoff app but by the MQTT Hub app.

[2020-01-19 14:29] konradwalsh opened #38 "Device request Sonoff Mini Wifi"
Hey
Are you able to add support for sonoff mini?

[2020-01-19 14:30] robertklep commented on #38
No, I stopped development for this app. However, if you're using Tasmota and configure the device as a Sonoff Basic, it might just work.

[2020-02-06 14:00] SuPa148 opened #39 "iFan3 on Homey"
Thanks for all the hard work...
The Sonoff iFan3 Tasmota is not available. Can I use 'Generic' Tasmota?
And the (soft) boot mode option, how can I trigger that. Unable to access; understood there is an issue with the 'HOLD' mode.

Alvast bedankt,
Onno

[2020-02-06 14:06] robertklep commented on #39
The generic Tasmota driver may work, or otherwise the Sonoff Basic driver, but only if the device works with "on/off" commands. If it has more capabilities, like variable speed, those will most likely not be supported.

As for the boot mode, it basically means that you need to power-cycle the device while the app is looking for the device.

[2020-02-06 14:20] SuPa148 commented on #39
It has a light toggle ON/OFF and 4 buttons for FANspeed (0,1,2,3)
Tried basic and generic but no connection.

[2020-02-06 14:24] robertklep commented on #39
I don't think either will work with that sort of button-arrangement anyway :(

[2020-02-06 14:55] SuPa148 commented on #39
Is that something you are willing to add? It is a frequently used fancontroller worldwide..

[2020-02-06 14:56] robertklep commented on #39
I [stopped development for this app](https://github.com/robertklep/name.klep.sonoff#deprecated) because I stopped using Homey, so unless someone else is willing to take up development, support for this device won't be added I'm afraid.

[2020-04-26 21:00] #33 closed

[2020-06-12 02:14] klim123123 commented on #29
Same problem here, no icon for "Generic (Tasmota)" devices.
If i add the same device like "Basic (Tasmota)" icon is showing.

[2020-07-25 19:21] robyv opened #40 "Sonoff Zigbee"
Will compatibility be added to Sonoff Zigbee products?

[2020-07-26 07:03] robertklep commented on #40
No, sorry, I [stopped development of this app](https://github.com/robertklep/name.klep.sonoff#deprecated) so I won't be adding new features/devices.

[2020-07-26 07:03] #40 closed

[2021-02-03 17:43] axke1 opened #41 "Sonoff TH16 & Homey"
Hallo, leider kann ich meinen TH16 nicht mit dem Homey verbinden. Die ewe-Link-Verbindung hat dagegen funktioniert und ich kann auf den TH16 über WLAN zugreifen. Wenn ich den TH16 aber in Homey integrieren will, findet er kein Gerät, das er hinzufügen kann. Der MQT Broker hat folgenden Log:
20210203-18:36:20 Packet published mqttjs_c5f4747d
20210203-18:36:20 mqttjs_c5f4747d has subscribed to topic

[2021-02-03 18:39] robertklep commented on #41
It's unclear to me if you're running Tasmota.

[2021-02-03 19:12] axke1 commented on #41
Ich habe den MQT Broker installiert und dort den Port 1883 eingetragen. Danach habe ich in der Sonoff-App TH10/16 (Tasmota) ausgewählt und die IP-Adresse des Homeys eingegeben. Habe ich im MQT Broker einen Fehler? Bin ich evtl. mit dem TH16 zu weit vom WLAN-Router entfernt oder was mache ich falsch? Bzw. welche Infos brauchen Sie von mir, damit Sie mich besser verstehen?

[2021-02-03 19:39] robertklep commented on #41
How did you configure the module in Tasmota, and what are the MQTT settings (topic etc) you're using?

Please reply in English, my German isn't great ;)

[2021-02-03 19:59] axke1 commented on #41
I didn't configure the module in "Tasmota". Do you mean another app in the homey store? I just added the apps "Tasmota MQTT", "MQTT Broker" and "MQTT Client". In these apps I set the IP on 192.168.30.253 (is my homey" and the Port on 1883, I added the user "axke" and a 4-digit-Password. But I'm not right sure, which one from these apps I'll need for using the TH16 ;-(

[2021-02-04 06:04] robertklep commented on #41
Tasmota MQTT is a completely different app from mine. If you have questions about it, you can post them [on the forum](https://community.athom.com/t/tasmota-mqtt-application/26164).

[2021-02-14 13:18] avdl72 commented on #34
I have the same issue with MQTT running in a docker.

[2021-02-14 13:21] robertklep commented on #34
Take a look at the [Tasmota app](https://homey.app/en-gb/app/com.paveld.tasmota/Tasmota-MQTT/), which is being actively developed (as opposed to my app).

[2021-11-11 19:12] devilke opened #43 "TH16 only works as 'generic' tasmota device"
I flashed a TH16 with tasmoto.
Configured it as a TH device and enabled mqtt.

I am using a SI7021 sensor

It does show up in the broker (including temp/hum data)

But when I add it as a TH16 device it cannot find it.
When I add it as a generic device it does find it, but I cannot do anything with the temp/humidity sensor. Only turn it on and off.

[2021-11-12 06:18] robertklep commented on #43
Which version of Tasmota have you installed? This app only supports old (v6, possibly v7) version of Tasmota. If you want something more recent, consider using the [Tasmota MQTT app](https://homey.app/a/com.paveld.tasmota/).

[2021-11-12 08:36] devilke commented on #43
I have version 10 installed.

The Tasmota MQTT app is not working at all for me. It stays stuck on the loading screen when I try to add a device.

[2021-11-12 08:53] robertklep commented on #43
You can try downgrading your device to Tasmota v6 to see if it works with this app.